.services {
  padding: 8rem 2rem;
  position: relative;
}

.servicesGrid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .servicesGrid {
    grid-template-columns: 1fr;
  }
}
